fastapi
uvicorn
python-dotenv
pydantic
requests
psycopg[binary]
psycopg-pool
langchain-core
langchain-openai
langchain-community
langchain-nvidia-ai-endpoints
langchain-text-splitters
pypdf
python-multipart